<IfModule mod_rewrite.c>
    RewriteEngine On

    # Assurez-vous que les fichiers et dossiers existent
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirige toutes les requêtes vers le fichier index.php dans le répertoire public
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
<IfModule mod_mime.c>
    AddType application/javascript .js
    AddType text/css .css
</IfModule>
